@{
    ViewData["Title"] = "About Us";
    ViewData["BodyClass"] = "class=blend";
    ViewData["DarkNav"] = true;
}
<div class="container clipboard vollytron">
    <div class="row">
        <div class="col-12">
            <p class="title-paragraph">
                Whether you are looking to do something during summer break, give back after work, or want to find a fun team building activity for your company, we’ve got something for you.
            </p>
            <p class="title-paragraph"> 
                Volly is built by volunteers, for volunteers. Free to use.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="~/images/assets/howtouse.png" class="full-width" />
        </div>
    </div>
    <br />
    <h1>
        For Businesses
    </h1>
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/assets/businesses.png" />
        </div>
        <div class="col-md-6">
            <p class="title-paragraph">
                “Help! We want to give back as a company, but we don’t know how to start and how to motivate our employees.”
                We know that it takes a lot of time and effort to find meaningful and interesting volunteer opportunities in Calgary, especially when you are a large group.
                That’s where Volly can help. Contact us and we will help you plan your next company volunteer event! <a href="mailto:admin@vollyapp.com">admin@vollyapp.com</a>
            </p>
        </div>
    </div>
    <br />
    <h1>
        For Non-Profits
    </h1>
    <div class="row">
        <div class="col-md-5">
            <a href="https://goo.gl/forms/h9SEtpPWRLr9Hl4m2" target="_blank">
                <img src="~/images/assets/submitarequest.png" />
            </a>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-6">
            <p class="ptron">
                “Help! We are having trouble recruiting volunteers and sharing our cause with the greater Calgary community!”
            </p>
            <p>
                Sound familiar?
                We know there are activities or projects that you want to tackle, but the time and effort it takes to recruit and organize volunteers aren’t always easy.
                Volly wants to make the process easy for you.
                We will find volunteers, manage the logistics, and help to ensure that your project is completed.
            </p>
        </div>
    </div>
</div>