@{
    ViewData["Title"] = "Chat";
}

<h2>Chat</h2>

<div class="container">
    <div style="border: solid; border-radius: 5px; border-color: black">
        <div id="chatbox" style="height: 250px; background-color: whitesmoke; overflow: auto; word-wrap: break-word">
            <span id="messages"></span>
            <br />
        </div>
    </div>

    <div class="input-group" id="msg">
        <input class="form-control text-success" id="message" placeholder="Type Message Here" />
    </div>
    <button class="btn btn-primary btn-lg btn-block" id="send" type="button">Send Message</button>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>
