@model VollyV2.Models.Volly.CarouselModel
@{
    ViewData["Title"] = "Home Page";
    ViewData["BodyClass"] = "class=blend";
    ViewData["IsDark"] = true;
}

<div class="container">
    <div class="jumbotron vollytron">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <h1 class="display-4">Volunteering in Calgary has never been easier! Sign up. Show up.</h1>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="start-browsing">
                    <a asp-action="Opportunities">
                        <img src="~/images/assets/startbrowsing.png" />
                    </a>
                </div>
            </div>
        </div>
        <p class="lead">
            We’ve created a user-friendly platform for you to learn about non-profits in Calgary and find fun ways to give back to your community.
        </p>
        <div id="mc_embed_signup">
            <form id="mc-embedded-subscribe-form" class="validate" action="https://vollyapp.us18.list-manage.com/subscribe/post?u=8ff31a021b0b0effbd6a226bc&amp;id=3b751364e1" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
                <div id="mc_embed_signup_scroll">
                    <label for="mce-EMAIL">Subscribe to our mailing list</label>
                    <input id="mce-EMAIL" class="email" name="EMAIL" required="" type="email" value="" placeholder="email address" />
                </div>
            </form>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input tabindex="-1" name="b_8ff31a021b0b0effbd6a226bc_3b751364e1" type="text" value="" /></div>
        <div class="clear"><input id="mc-embedded-subscribe" class="button" name="subscribe" type="submit" value="Subscribe" /></div>
    </div>
</div>