@model VollyV2.Models.Volly.CarouselModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Volly!</h1>
        <p class="lead">Volly loves community building and having fun, and our goal is to help create an accessible way for people to get involved and give back.</p>
        <hr class="my-4">
        <p>
            <div class="index-subtitle">What is Volly?</div>
            Volly is a platform that connects prospective volunteers to organizations in Calgary that need an extra set of hands. We are currently in beta testing stages and are looking to connect with companies, clubs, sports teams, families, faith groups that would like to find fun opportunities to give back without the headache of figuring out the logistics. If this sounds like you, please email <a href="mailto:admin@vollyapp.com">admin@vollyapp.com</a> and we can help find some fun opportunities for you and your team!
            <div class="index-subtitle">Why Volly?</div>
            We are life-long volunteers, and we want to show everyone how volunteering can be easy even if you don’t have a lot of time. Volunteering helps you connect with others, experience new cultures, and discover your passions as an individual. If you don’t have a lot of time, and you want to find activities you can easily do with your co-workers, family or friends then <span class="highlight-color">let Volly do the legwork, and help you find something fun to do!</span>
        </p>
        <p class="lead">
            <a class="btn btn-outline-primary btn-lg" role="button" asp-area="" asp-controller="Home" asp-action="Opportunities">Start Browsing</a>
        </p>
    </div>
</div>