@model VollyV2.Models.Volly.MapModel

@{
    ViewData["Title"] = "Organizations";
    ViewData["DarkNav"] = true;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-12 order-lg-first order-md-first">
            <h3>
                Use this map to find non-profits in Calgary. Click on their name to see what they are about.
                <br />
                Don't see your organization? <a asp-controller="Home" asp-action="Opportunities">Contact Volly</a> to be added.
            </h3>
            <button data-toggle="collapse" class="btn btn-info btn-block" data-target="#filterPanel">Show/Hide Filter Panel</button>
            <br />
            <div id="filterPanel" class="collapse">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card border-light mb-3">
                            <div class="card-header">Causes:</div>
                            <div class="card-body">
                                <select asp-for="Causes" class="form-control"
                                        asp-items="@Model?.CausesList" id="CausesList">
                                    <option value="0" selected="selected">-- All --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-2 col-sm-12">
                    </div>
                    <div class="col-lg-4 col-md-8 col-sm-12">
                        <button type="button" class="btn btn-success btn-sm btn-block" id="FilterOrganizations">Apply Filters</button>
                        <br />
                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-12">
                    </div>
                </div>
            </div>
            <input class="form-control" id="searchInput" type="text" placeholder="Search..">
            <br />
            <div class="row">
                <table class="table table-bordered table-striped table-hover" id="OrganizationTable">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Cause
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <br />

        <div class="col-lg-4 col-md-5 col-sm-12 order-sm-first">
            <div class="sticky-top">
                <div class="map" id="map2"></div>
            </div>
        </div>
    </div>
    <br />
</div>

<div class="modal fade" id="DisplayModal" tabindex="-1" role="dialog" aria-labelledby="DisplayModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DisplayModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h5 class="text-warning" id="ModalAddress"></h5>
                        <span class="badge badge-warning" id="ModalCause"></span>
                        <br />
                        <a target="resource window" id="AModalWebsiteLink"><h5 id="ModalWebsiteLink"></h5></a>
                        <a id="AModalContactEmail"><h5 id="ModalContactEmail"></h5></a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <img id="img-organization" />
                    </div>
                </div>
                <div id="ModalDescription"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/gmaps.js"></script>

<script src="/js/organizations.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi84qEblX_oHY4fLUW8pjliIsrXZJs3eI&callback=initMap"></script>
<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#OrganizationTable tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>
