@{
    ViewData["Title"] = "We'll be back!";
    ViewData["BodyClass"] = "class=blend";
    ViewData["DarkNav"] = true;
}

<div class="container">
    <div class="jumbotron vollytron">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                We'll be back!
            </div>
        </div>

        <a href="http://www.facebook.com/vollyapp" target="_blank">
            <img src="~/images/assets/fblike.png" class="bottom-right-notify" />
        </a>
    </div>
</div>