@using Microsoft.AspNetCore.Identity
@using VollyV2.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav flex-column nav-pills" aria-orientation="vertical">
    <li class="nav-link"><a asp-action="Index">Profile</a></li>
    <li class="nav-link"><a asp-action="ChangePassword">Password</a></li>
    @*@if (hasExternalLogins)
    {
        <li class="nav-link"><a asp-action="ExternalLogins">External logins</a></li>
    }
    <li class="nav-link"><a asp-action="TwoFactorAuthentication">Two-factor authentication</a></li>*@
</ul>

