html {
    background-color: #271f41 !important;
}

body {
    font-family: 'Roboto', sans-serif !important;
    padding-top: 50px;
}

    body .blend {
        background-repeat: no-repeat;
        background-image: url(/images/assets/navbar-bg.png);
        background-color: #271f41 !important;
        background-size: 100% auto;
    }

.nav-bg {
    margin-top: -50px;
}

.nav-dark {
    background-color: #07060e !important;
}

    .nav-dark a {
        color: #ed639a !important;
    }

.map {
    width: 100%;
    height: 85vh;
}


img {
    max-height: 100%;
    max-width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.badgeSize {
    font-size: 15px;
}

.card-body {
    padding: 0.5rem;
}

.result-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    padding-top: .5rem;
    padding-bottom: .5rem;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

    .result-card:hover {
        position: relative;
        cursor: pointer;
        -webkit-transform: scale(1.025, 1.025);
        transform: scale(1.025, 1.025);
    }

.apply-opportunity-row {
    margin-left: 1rem;
    margin-right: 1rem;
}

.modal-header {
    padding-bottom: 0;
}

.modal-body {
    padding-top: 0 !important;
}

.lead {
    color: #6eb5ff;
    font-weight: 600;
    font: 2em "Raleway", sans-serif;
}

.index-subtitle {
    font-weight: 700;
}

.highlight-color {
    color: #6eb5ff;
    font-weight: 700;
}

nav img.img-brand {
    height: 2.5rem;
}

.result-card-inner {
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid rgba(128,128,128,0.5);
}

    .result-card-inner:hover {
        border: 1px solid rgba(128,128,128,0.5);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    }

.result-details {
    text-align: center;
}

.result-datetime {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    background-color: #6db5ff;
    padding-left: .75rem;
    padding-right: .75rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    margin-left: 15px;
    margin-right: 15px;
}

.result-address {
    font-size: 0.9rem;
    min-height: 2.5rem;
    color: #fff;
    background-color: #6db5ff;
}

.result-name {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-weight: 700;
}

.result-org-name {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    text-align: center;
}

#OpportunityModalOrganizationUrl {
    text-decoration: none;
}

.wrap-center {
    position: absolute;
    top: .25rem;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

#map img {
    max-width: inherit !important;
    max-height: inherit !important;
}

#map {
    overflow: hidden;
}

#ln-share {
    text-decoration: none;
    color: #fff;
}

#ln-share-wrap {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background-color: #b2dd7b;
}

#fb-share {
    text-decoration: none;
    color: #fff;
    padding-right: 0.5rem;
}

#fb-share-wrap {
    background-color: #3b5998;
}

#ln-share img {
    height: 1rem;
}

#fb-share img {
    height: 1rem;
}

#tw-share img {
    height: 1rem;
}

.share-wrap {
    font-size: 0.75rem;
    display: inline-block;
    border-radius: 0.5rem;
}

#tw-share-wrap {
    background-color: #2aaae0;
}

#tw-share {
    text-decoration: none;
    color: #fff;
    padding-right: 0.5rem;
}

.thumbnail-img {
    width: 2.5rem;
}

.table-text {
    font-size: 10px;
}

#OpportunityModalOrganization {
    font-size: 1.5rem;
}

#ModalAddress {
    font-size: 1rem;
    font-weight: 500;
}

#ModalDescription {
    border: 1px solid;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

#apply-now {
    font-weight: 500;
}

.text-title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#details-img {
    max-width: 50%;
}

.vertical-margin-auto {
    margin-bottom: auto;
    margin-top: auto;
}

.row-org-name {
    display: inline-block;
}

.row-org-link {
    display: inline-block;
}

.result-row {
    position: relative;
    min-width: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

    .result-row:hover {
        position: relative;
        z-index: 1;
        cursor: pointer;
        border: 2px solid green;
    }

.sticky-top {
    top: 70px;
}

.img-opp {
    text-align: center;
}

.wrap-map {
    position: fixed;
    right: 0;
}

@media (max-width:768px) {
    .wrap-map {
        position: relative !important;
    }

    .map {
        float: unset;
    }

    .wrap-toggle {
        right: unset;
        left: 0;
        position: absolute !important;
        margin-bottom: 15px;
    }

    #wrap-main {
        margin-top: 15px;
    }
}

.wrap-toggle {
    text-align: center;
    visibility: visible;
    position: fixed;
    right: 0;
    z-index: 100;
    margin-right: 15px;
}

.div-description {
    white-space: pre-wrap;
}

.btn-map {
    border: 1px solid #2e65ee;
    color: #2e65ee;
}

.filter-wrapper-hide {
    display: none;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.filter-wrapper-show {
    display: block;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.secondary-text {
    color: #6eb5ff;
}

.vollytron {
    color: #ff559b;
    visibility: visible;
    background-color: #0f0c1a;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 4rem 3rem;
}

    .vollytron .vtitle {
        font-weight: 700;
        font-size: 2.25rem;
    }

    .vollytron .vtext {
        color: #6eb5ff;
        font-size: 1.5rem;
    }

    .vollytron .index-subtitle {
        color: #ff559b;
    }

    .vollytron p.paragraph {
        color: #ff559b;
    }

    .vollytron .start-browsing {
        text-align: center;
    }

        .vollytron .start-browsing img {
            max-height: 100%;
            max-width: 75%;
        }

    .vollytron p.ptron {
        font-weight: 700;
        font-size: 1.2rem;
    }

#mc_embed_signup {
    text-align: justify;
    margin-bottom: 2rem;
}

.bottom-right-notify {
    height: 7rem;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #666;
    border-left: 2px solid;
    border-radius: 2rem 0 0 2rem;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.top-right-notify {
    position: fixed;
    right: 0;
    top: 4rem;
    height: 7rem;
    border-radius: 2rem 0 0 2rem;
}

.full-width {
    width: 100%;
}

.padded {
    padding: 2rem;
}

.clipboard {
    border-radius: 2rem;
    padding: 3rem;
}

.title-paragraph {
    color: #6eb5ff;
    font-weight: 600;
    font-size: 1.8rem;
}
