body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.map {
    width: 100%;
    height: 600px;
}


img {
    max-height: 100%;
    max-width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.badgeSize {
    font-size: 15px;
}

.card-body {
    padding: 0.5rem;
}

.result-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
    .result-card:after {
        content: "";
        position: absolute;
        top: .25em;
        left: .25em;
        bottom: .25em;
        right: .25em;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25em;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
    }
    .result-card:hover {
        position: relative;
        z-index: 1;
        -webkit-transform: scale(1.025, 1.025);
        transform: scale(1.025, 1.025);
    }
        .result-card:hover:after {
            opacity: 1;
            z-index: 1;
            position: absolute;
        }

.apply-opportunity-row{
    margin-left:1rem;
    margin-right:1rem;
}
.modal-header{
    padding-bottom:0;
}
.lead {
    color: #6eb5ff;
    font-weight: 600;
    font: 2em "Raleway", sans-serif;
}
.index-subtitle{
    font-weight:700;
}
.highlight-color {
    color: #6eb5ff;
    font-weight:700;
}
nav img.img-brand{
    height:2.5rem;
}