body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.map {
    width: 100%;
    height: 600px;
}


img {
    max-height: 100%;
    max-width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.badgeSize {
    font-size: 15px;
}

.card-body {
    padding: 0.5rem;
}

.result-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    padding-top: .5rem;
    padding-bottom: .5rem;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
    .result-card:hover {
        position: relative;
        z-index: 1;
        cursor: pointer;
        -webkit-transform: scale(1.025, 1.025);
        transform: scale(1.025, 1.025);
    }
.apply-opportunity-row{
    margin-left:1rem;
    margin-right:1rem;
}
.modal-header{
    padding-bottom:0;
}
.lead {
    color: #6eb5ff;
    font-weight: 600;
    font: 2em "Raleway", sans-serif;
}
.index-subtitle{
    font-weight:700;
}
.highlight-color {
    color: #6eb5ff;
    font-weight:700;
}
nav img.img-brand{
    height:2.5rem;
}
.result-card-inner {
    height:100%;
    width:100%;
    border-radius:0.25rem;
    border: 1px solid rgba(128,128,128,0.5);
}
.result-card-inner:hover {
    border: 1px solid rgba(128,128,128,0.5);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}
.result-details{
    text-align:center;
}
.result-datetime {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    background-color: #6db5ff;
    padding-left: .75rem;
    padding-right: .75rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.result-address {
    font-size:0.9rem;
    min-height:2.5rem;
    color: #fff;
    background-color: #6db5ff;
}
.result-name {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.result-org-name {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-weight: 700;
    text-align:center;
}
#OpportunityModalOrganizationUrl {
    text-decoration: none;
}
.wrap-center {
    position: absolute;
    top: .25rem;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}