@{
    Layout = null;
}
<!doctype html>
<html xmlns='http://www.w3.org/1999/xhtml' xmlns:v='urn:schemas-microsoft-com:vml' xmlns:o='urn:schemas-microsoft-com:office:office'>
<head>
    <!-- NAME: TELL A STORY -->
    <!--[if gte mso 15]>
    <xml>
        <o:OfficeDocumentSettings>
        <o:AllowPNG/>
        <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Subject"]</title>
</head>
<body>
    <!--*|IF:MC_PREVIEW_TEXT|*-->
    <!--[if !gte mso 9]><!----><span class="mcnPreviewText" style="display:none; font-size:0px; line-height:0px; max-height:0px; max-width:0px; opacity:0; overflow:hidden; visibility:hidden; mso-hide:all;">*|MC_PREVIEW_TEXT|*</span><!--<![endif]-->
    <!--*|END:IF|*-->
    <div style="display:block;background-color: #271f41;">
        <center>
            <table width="100%" height="100%" align="center" id="bodyTable" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td align="center" id="bodyCell" valign="top">
                            <!-- BEGIN TEMPLATE // -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td align="center" id="templateHeader" valign="top" data-template-container="">
                                            <!--[if (gte mso 9)|(IE)]>
                                            <table align='center' border='0' cellspacing='0' cellpadding='0' width='600' style='width:600px;'>
                                            <tr>
                                            <td align='center' valign='top' width='600' style='width:600px;'>
                                            <![endif]-->
                                            <table width="100%" align="center" class="templateContainer" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td class="headerContainer" valign="top">
                                                            <table width="100%" class="mcnButtonBlock" style="min-width:100%;" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody class="mcnButtonBlockOuter">
                                                                    <tr>
                                                                        <td align="center" class="mcnButtonBlockInner" valign="top" style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;">
                                                                            <table class="mcnButtonContentContainer" style="border-collapse: separate !important;border: 1px none;border-radius: 3px;background-color: #01AAA5;" border="0" cellspacing="0" cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td align="center" class="mcnButtonContent" valign="middle" style="font-family: Arial; font-size: 16px; padding: 15px;">
                                                                                            <a title="Browse Volunteer Opportunities" class="mcnButton " style="font-weight: bold;letter-spacing: 1px;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;" href="https://volly.app/Home/Opportunities" target="_blank">Browse Volunteer Opportunities</a>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><table width="100%" class="mcnImageBlock" style="min-width:100%;" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody class="mcnImageBlockOuter">
                                                                    <tr>
                                                                        <td class="mcnImageBlockInner" valign="top" style="padding:9px">
                                                                            <table width="100%" align="left" class="mcnImageContentContainer" style="min-width:100%;" border="0" cellspacing="0" cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;">

                                                                                            <a title="" href="https://volly.app" target="_blank">
                                                                                                <img width="564" align="center" class="mcnImage" style="max-width:1232px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" alt="" src="https://gallery.mailchimp.com/8ff31a021b0b0effbd6a226bc/images/34e13577-7278-46bf-b264-7f17ec70f69d.png">
                                                                                            </a>

                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--[if (gte mso 9)|(IE)]>
                                            </td>
                                            </tr>
                                            </table>
                                            <![endif]-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" id="templateBody" valign="top" data-template-container="">
                                            <!--[if (gte mso 9)|(IE)]>
                                            <table align='center' border='0' cellspacing='0' cellpadding='0' width='600' style='width:600px;'>
                                            <tr>
                                            <td align='center' valign='top' width='600' style='width:600px;'>
                                            <![endif]-->
                                            <table width="100%" align="center" class="templateContainer" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td class="bodyContainer" valign="top">
                                                            <table width="100%" class="mcnBoxedTextBlock" style="min-width:100%;" border="0" cellspacing="0" cellpadding="0">
                                                                <!--[if gte mso 9]>
                                                                <table align='center' border='0' cellspacing='0' cellpadding='0' width='100%'>
                                                                <![endif]-->
                                                                <tbody class="mcnBoxedTextBlockOuter">
                                                                    <tr>
                                                                        <td class="mcnBoxedTextBlockInner" valign="top">

                                                                            <!--[if gte mso 9]>
                                                                            <td align='center' valign='top' '>
                                                                            <![endif]-->
                                                                            <table width="100%" align="left" class="mcnBoxedTextContentContainer" style="min-width:100%;" border="0" cellspacing="0" cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>

                                                                                        <td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">

                                                                                            <table width="100%" class="mcnTextContentContainer" style="min-width: 100% !important;background-color: #271F41;" border="0" cellspacing="0">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td class="mcnTextContent" valign="top" style="padding: 18px;color: #F2F2F2;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: center;">
                                                                                                            <div style="text-align: left;">
                                                                                                                <font face="tahoma, verdana, segoe, sans-serif" size="4">
                                                                                                                    Hi everybody!<br>
                                                                                                                    <br>
                                                                                                                    Check out these new opportunities!
                                                                                                                </font><br>
                                                                                                                <br>
                                                                                                                <font face="tahoma, verdana, segoe, sans-serif" size="4">
                                                                                                                    <span style="font-family:tahoma,verdana,segoe,sans-serif">
                                                                                                                        <span style="font-size:18px">
                                                                                                                        Want to volunteer but don't know where to start?<br/>
                                                                                                                        <a href="mailto:admin@vollyapp.com" target="_blank">Contact us </a>and we will give you some personalized advice!<br>
                                                                                                                            <br>
                                                                                                                            Please share this email with someone you know who wants to volunteer.<br>
                                                                                                                            <br>
                                                                                                                            Love,<br>
                                                                                                                            Team Volly
                                                                                                                        </span>
                                                                                                                    </span><br>
                                                                                                                    <br>
                                                                                                                    <span style="font-size:18px">Suggestions? <a href="mailto:admin@vollyapp.com" target="_blank">Let us know!</a></span>
                                                                                                                </font>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <!--[if gte mso 9]>
                                                                            </td>
                                                                            <![endif]-->
                                                                            <!--[if gte mso 9]>
                                                                            </tr>
                                                                            </table>
                                                                            <![endif]-->
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><table width="100%" class="mcnImageBlock" style="min-width:100%;" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody class="mcnImageBlockOuter">
                                                                    <tr>
                                                                        <td class="mcnImageBlockInner" valign="top" style="padding:9px">
                                                                            <table width="100%" align="left" class="mcnImageContentContainer" style="min-width:100%;" border="0" cellspacing="0" cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;">

                                                                                            <a title="" href="https://volly.app" target="_blank">
                                                                                                <img width="560" align="center" class="mcnImage" style="max-width:560px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" alt="" src="https://gallery.mailchimp.com/8ff31a021b0b0effbd6a226bc/images/0dfb3eaa-e55f-43e6-8cda-8ae41e875eb6.png">
                                                                                            </a>

                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><table width="100%" class="mcnButtonBlock" style="min-width:100%;" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody class="mcnButtonBlockOuter">
                                                                    <tr>
                                                                        <td align="center" class="mcnButtonBlockInner" valign="top" style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;">
                                                                            <table width="100%" class="mcnButtonContentContainer" style="border-collapse: separate !important;border: 1px none;border-radius: 3px;background-color: #01AAA5;" border="0" cellspacing="0" cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td align="center" class="mcnButtonContent" valign="middle" style="font-family: Arial; font-size: 16px; padding: 15px;">
                                                                                            <a title="Click here to browse!" class="mcnButton " style="font-weight: bold;letter-spacing: 1px;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;" href="https://volly.app/Home/Opportunities" target="_blank">Click here to browse!</a>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><table width="100%" class="mcnBoxedTextBlock" style="min-width:100%;" border="0" cellspacing="0" cellpadding="0">
                                                                <!--[if gte mso 9]>
                                                                <table align='center' border='0' cellspacing='0' cellpadding='0' width='100%'>
                                                                <![endif]-->
                                                                <tbody class="mcnBoxedTextBlockOuter">
                                                                    <tr>
                                                                        <td class="mcnBoxedTextBlockInner" valign="top">

                                                                            <!--[if gte mso 9]>
                                                                            <td align='center' valign='top' '>
                                                                            <![endif]-->
                                                                            <table width="100%" align="left" class="mcnBoxedTextContentContainer" style="min-width:100%;" border="0" cellspacing="0" cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">

                                                                                            <table width="100%" class="mcnTextContentContainer" style="min-width: 100% !important;background-color: #FF569B;" border="0" cellspacing="0">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td class="mcnTextContent" valign="top" style="padding: 18px;color: #131111;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: center;">
                                                                                                            <h4 class="null" style="text-align: center;"><span style="color:#000000"><span style="font-size:32px">Featured Events</span></span></h4>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <!--[if gte mso 9]>
                                                                            </td>
                                                                            <![endif]-->
                                                                            <!--[if gte mso 9]>
                                                                            </tr>
                                                                            </table>
                                                                            <![endif]-->
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><table width="100%" class="mcnDividerBlock" style="min-width:100%;" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody class="mcnDividerBlockOuter">
                                                                    <tr>
                                                                        <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 27px 18px 0px;">
                                                                            <table width="100%" class="mcnDividerContent" style="min-width:100%;" border="0" cellspacing="0" cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <span></span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <!--
                                                                                            <td class='mcnDividerBlockInner' style='padding: 18px;'>
                                                                                            <hr class='mcnDividerContent' style='border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;' />
                                                                            -->
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            @Html.Raw(ViewData["OpportunitiesHtml"])
                                            <!--[if (gte mso 9)|(IE)]>
                                            </td>
                                            </tr>
                                            </table>
                                            <![endif]-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" id="templateFooter" valign="top" data-template-container="">
                                            <!--[if (gte mso 9)|(IE)]>
                                            <table align='center' border='0' cellspacing='0' cellpadding='0' width='600' style='width:600px;'>
                                            <tr>
                                            <td align='center' valign='top' width='600' style='width:600px;'>
                                            <![endif]-->
                                            <table width="100%" align="center" class="templateContainer" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td class="footerContainer" valign="top">
                                                            <table width="100%" class="mcnFollowBlock" style="min-width:100%;" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody class="mcnFollowBlockOuter">
                                                                    <tr>
                                                                        <td align="center" class="mcnFollowBlockInner" valign="top" style="padding:9px">
                                                                            <table width="100%" class="mcnFollowContentContainer" style="min-width:100%;" border="0" cellspacing="0" cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td align="center" style="padding-left:9px;padding-right:9px;">
                                                                                            <table width="100%" class="mcnFollowContent" style="min-width:100%;" border="0" cellspacing="0" cellpadding="0">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td align="center" valign="top" style="padding-top:9px; padding-right:9px; padding-left:9px;">
                                                                                                            <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top">
                                                                                                                            <!--[if mso]>
                                                                                                                            <table align='center' border='0' cellspacing='0' cellpadding='0'>
                                                                                                                            <tr>
                                                                                                                            <![endif]-->
                                                                                                                            <!--[if mso]>
                                                                                                                            <td align='center' valign='top'>
                                                                                                                            <![endif]-->


                                                                                                                            <table align="left" style="display:inline;" border="0" cellspacing="0" cellpadding="0">
                                                                                                                                <tbody>
                                                                                                                                    <tr>
                                                                                                                                        <td class="mcnFollowContentItemContainer" valign="top" style="padding-right:10px; padding-bottom:9px;">
                                                                                                                                            <table width="100%" class="mcnFollowContentItem" border="0" cellspacing="0" cellpadding="0">
                                                                                                                                                <tbody>
                                                                                                                                                    <tr>
                                                                                                                                                        <td align="left" valign="middle" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                                                                                                                            <table width="" align="left" border="0" cellspacing="0" cellpadding="0">
                                                                                                                                                                <tbody>
                                                                                                                                                                    <tr>

                                                                                                                                                                        <td width="24" align="center" class="mcnFollowIconContent" valign="middle">
                                                                                                                                                                            <a href="http://www.facebook.com/vollyapp" target="_blank"><img width="24" height="24" style="display:block;" src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-facebook-48.png"></a>
                                                                                                                                                                        </td>


                                                                                                                                                                    </tr>
                                                                                                                                                                </tbody>
                                                                                                                                                            </table>
                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                </tbody>
                                                                                                                                            </table>
                                                                                                                                        </td>
                                                                                                                                    </tr>
                                                                                                                                </tbody>
                                                                                                                            </table>

                                                                                                                            <!--[if mso]>
                                                                                                                            </td>
                                                                                                                            <![endif]-->
                                                                                                                            <!--[if mso]>
                                                                                                                            <td align='center' valign='top'>
                                                                                                                            <![endif]-->


                                                                                                                            <table align="left" style="display:inline;" border="0" cellspacing="0" cellpadding="0">
                                                                                                                                <tbody>
                                                                                                                                    <tr>
                                                                                                                                        <td class="mcnFollowContentItemContainer" valign="top" style="padding-right:0; padding-bottom:9px;">
                                                                                                                                            <table width="100%" class="mcnFollowContentItem" border="0" cellspacing="0" cellpadding="0">
                                                                                                                                                <tbody>
                                                                                                                                                    <tr>
                                                                                                                                                        <td align="left" valign="middle" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                                                                                                                            <table width="" align="left" border="0" cellspacing="0" cellpadding="0">
                                                                                                                                                                <tbody>
                                                                                                                                                                    <tr>

                                                                                                                                                                        <td width="24" align="center" class="mcnFollowIconContent" valign="middle">
                                                                                                                                                                            <a href="https://volly.app" target="_blank"><img width="24" height="24" style="display:block;" src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-link-48.png"></a>
                                                                                                                                                                        </td>


                                                                                                                                                                    </tr>
                                                                                                                                                                </tbody>
                                                                                                                                                            </table>
                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                </tbody>
                                                                                                                                            </table>
                                                                                                                                        </td>
                                                                                                                                    </tr>
                                                                                                                                </tbody>
                                                                                                                            </table>

                                                                                                                            <!--[if mso]>
                                                                                                                            </td>
                                                                                                                            <![endif]-->
                                                                                                                            <!--[if mso]>
                                                                                                                            </tr>
                                                                                                                            </table>
                                                                                                                            <![endif]-->
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><table width="100%" class="mcnDividerBlock" style="min-width:100%;" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody class="mcnDividerBlockOuter">
                                                                    <tr>
                                                                        <td class="mcnDividerBlockInner" style="min-width:100%; padding:18px;">
                                                                            <table width="100%" class="mcnDividerContent" style="min-width: 100%;border-top: 2px solid #505050;" border="0" cellspacing="0" cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <span></span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <!--
                                                                                            <td class='mcnDividerBlockInner' style='padding: 18px;'>
                                                                                            <hr class='mcnDividerContent' style='border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;' />
                                                                            -->
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table width="100%" class="mcnTextBlock" style="min-width:100%;color:#fff;" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody class="mcnTextBlockOuter">
                                                                    <tr>
                                                                        <td class="mcnTextBlockInner" valign="top" style="padding-top:9px;">
                                                                            <!--[if mso]>
                                                                            <table align='left' border='0' cellspacing='0' cellpadding='0' width='100%' style='width:100%;'>
                                                                            <tr>
                                                                            <![endif]-->
                                                                            <!--[if mso]>
                                                                            <td valign='top' width='600' style='width:600px;'>
                                                                            <![endif]-->
                                                                            <table width="100%" align="left" class="mcnTextContentContainer" style="max-width:100%; min-width:100%;" border="0" cellspacing="0" cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>

                                                                                        <td class="mcnTextContent" valign="top" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

                                                                                            <em>Copyright © *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.</em>
                                                                                            <br>
                                                                                            *|IFNOT:ARCHIVE_PAGE|*
                                                                                            *|LIST:DESCRIPTION|*
                                                                                            <br>
                                                                                            <br>
                                                                                            <strong>Our mailing address is:</strong>
                                                                                            <br>
                                                                                            *|HTML:LIST_ADDRESS_HTML|* *|END:IF|*
                                                                                            <br>
                                                                                            <br>
                                                                                            Want to change how you receive these emails?<br>
                                                                                            You can <a href="*|UPDATE_PROFILE|*">update your preferences</a> or <a href="*|UNSUB|*">unsubscribe from this list</a>.
                                                                                            <br>
                                                                                            <br>
                                                                                            *|IF:REWARDS|* *|HTML:REWARDS|*
                                                                                            *|END:IF|*
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <!--[if mso]>
                                                                            </td>
                                                                            <![endif]-->
                                                                            <!--[if mso]>
                                                                            </tr>
                                                                            </table>
                                                                            <![endif]-->
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--[if (gte mso 9)|(IE)]>
                                            </td>
                                            </tr>
                                            </table>
                                            <![endif]-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- // END TEMPLATE -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
</body>
</html>