@model VollyV2.Models.Volly.OpportunityModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Opportunity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="col-form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-form-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="col-form-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="col-form-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDateTime" class="col-form-label"></label>
                <input asp-for="EndDateTime" class="form-control"/>
                <span asp-validation-for="EndDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationDeadline" class="col-form-label"></label>
                <input asp-for="ApplicationDeadline" class="form-control" />
                <span asp-validation-for="ApplicationDeadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Openings" class="col-form-label"></label>
                <input asp-for="Openings" class="form-control" />
                <span asp-validation-for="Openings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="col-form-label"></label>
                <select asp-for="CategoryId" class="form-control"
                        asp-items="@Model?.Categories"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationId" class="col-form-label"></label>
                <select asp-for="OrganizationId" class="form-control"
                        asp-items="@Model?.Organizations"></select>
                <span asp-validation-for="OrganizationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="col-form-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
        <br/>
        <form asp-action="Duplicate">
            <input asp-for="Id" type="hidden" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Duplicate" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
